/* Enter your custom styles here */
* {
    box-sizing: border-box;
  }

  .clsHangmanTitle {
    font-size: 300%;
    color: aliceblue;
  }


  .guessLabel {
    color: white;
    font-size: 180%
  }

  .guessInput {
    font-size: 120%
  }

  .guessWord {
    color:blanchedalmond;
  }

  .canvas {
    background: #a0a0a0;
    border-radius: 5px;
    z-index: -1;
  }

  .div1 {
    z-index: 0;
  }

  .div2 {
    z-index: 10;
  }

  .submission {
    background: #333;
    border-radius: 5px;
  }

  /* body {
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
  } */

  /* #canvas {
    -moz-transition: background 0.5s ease-in;
    -o-transition: background 0.5s ease-in;
    -webkit-transition: background 0.5s ease-in;
    background: #a0a0a0;
    border-radius: 5px;
    max-width: 94vw;
  } */

  /* #guessInput {
    font-size: xx-large;
    width: 70px;
  } */

  /* form {
    height: 600px;
    border-radius: 5px;
  } */

  /* #feedback {
    height: 50px;
  } */